body {
  color: rgb(178, 193, 206);
  background: #000524;
  text-align: center;
}

.wrapper {
  position: relative;
  background: #000524;
  border: 1px solid #000;
  box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
  max-width: 850px;
  margin: 0 auto;
}
